html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img { max-width:100%; }

table { table-layout: fixed; }

#coupons { background-color:#eaeaea; padding:1px 5px; }

.coupon { background-color:#fff; padding:5px; margin:5px 0; border-radius:10px; }

.actions { text-align:right; }

.redeemed { color:#15d51b; font-weight:bold; }

.outOfStock { color:#ef2d2d; font-weight:bold; }

#redemptionCount {
    font-weight: bold;
    color: #15d51b;
}

.btn-primary { background-color:#087671; border-color:#087671; color:#fff; }
.btn-primary:hover { background-color:#087671; border-color:#087671; color:#fff; }

    .btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
        background-color:#15996e; border-color:#15996e; color:#fff; box-shadow: 0 0 0 0.25rem rgb(102 213 150 / 50%);
    }

    .btn-check:focus + .btn-primary, .btn-primary:focus {
        background-color:#15996e; border-color:#15996e; color:#fff; box-shadow: 0 0 0 0.25rem rgb(102 213 150 / 50%);
    }